.classe-1 {
    font-family: Verdana;
    color: red;
    font-size: 16px;
    font-weight: bold
}
.classe-2 {
    font-family: Times New Roman;
    color: orange;
    font-size: 30px;
    font-style: italic;
}
.classe-3 {
    font-family: Arial;
    color: blue;
    font-size: 20px;
    font-weight: bold
}
.classe-4 {
    color: purple;
    font-size: 19px;
    font-style: italic;
}
.classe-5 {
    font-family: Arial;
    color: yellow;
    font-size: 32px;
}
.classe-6 {
    color: brown;
    font-size: 24px;
    font-weight: bold;
}
.classe-7 {
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.classe-8 {
    font-family: Arial;
    color: green;
    font-size: 35px;
    font-weight: bold;
}
.prix6 {
    position: absolute;
    font-size: 40px;
    color: #89adc5;
}
.euro6 {
    position: relative;
    font-size: 0.5em;
    top: -0.9em;
    left: -0.3em;
}
.centime6 {
    position: relative;
    font-size: 0.5em;
    left: -1em;
}