@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');
* {
    box-sizing: border-box;
    user-select: none;
}
/******************************************************/
/******************GENERAL RULES***********************/
/******************************************************/
body {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ccc;
}
h2 {
    position: relative;
    font-style: italic;
    text-transform: uppercase;
    color: #385b72;
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid #385b72;
}
h2 span {
    position: absolute;
    font-weight: normal;
    font-size: 0.6rem;
    text-transform: capitalize;
    right: 0;
    bottom: 0;
    cursor: pointer;
    padding-bottom: 2px;
}
img {
    max-width: 100%;
}
i {
    color: #385b72;
}
a {
    text-decoration: none;
    position: relative;
}
a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    margin-bottom: -2px;
    background-color: #385b72;
    transform: scaleX(0);
    transition: .5s;
}
a:hover:before {
    transform: scaleX(1);
}
main {
    width: 100%;
}
button {
    border: none;
    cursor: pointer;
}
label {
    color: #385b72;
    font-style: italic;
    font-size: 0.7rem;
    margin-bottom: 7px;
    font-weight: bold;
}
input[type="text"], input[type="number"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.1rem solid #385b72;
}
input[type="number"] {
    width: 15%;
}
input[type="text"]:focus, input[type="number"], select:focus, button:focus {
	outline: none;
}
input[type="file"] {
    display: none;
}
select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #385b72;
}
select + span {
    margin-top: 5px;
    display: block;
}
input[type="radio"], input[type="checkbox"] {
    display: none;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #385b72; 
  }
/*************************************************/
/********************INPUT************************/
/*************************************************/
.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.input-group div span {
    font-style: italic;
    margin-left: 5px;
    color: #385b72;
    font-size: 0.8rem;
}
.button-group {
    margin-top: 5px;
    width: 100%;
}
/*************************************************/
/********RADIO********CHECKBOX**** FILE***********/
/*************************************************/
.radios-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.file-group {
    display: flex;
    align-items: center;
}
.file-group > label {
    background-color: #ffffff;
    color: #385b72;
    border: 1px solid #385b72;
    padding: 6px 12px;
    cursor: pointer;
    font-style: initial;
    font-size: 0.6rem;
}
.file-group > label:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f07b";
    color: #385b72;
    margin-right: 5px;
    width: 10px;
}
.file-group > label:hover:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f07c";
}
.file-group > p {
    font-size: 0.7rem;
    margin-left: 5px;
    color: #385b72;
}
.radios-group span {
    color: #385b72;
    font-size: 0.7rem;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px; 
    font-style: italic;
    font-weight: bold;
}
.radios-group label, .checkbox label {
    font-weight: normal;
    cursor: pointer;
}
.radios-group input[type="radio"] + label:before, .checkbox input[type="checkbox"] + label:before {
    background-color: #ffffff;
    border-radius: 50%;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    vertical-align: middle;
    border: 0.2rem solid #385b72;
    display: inline-block;
}
.checkbox input[type="checkbox"] + label:before {
    border-radius: 0;
}
.radios-group input[type="radio"]:checked + label:before, .checkbox input[type="checkbox"]:checked + label:before {
    background-color: #385b72;
    border-color: #385b72;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
}
.radios-group .radio {
    margin: 0 20px 5px 0;
}
.checkbox {
    margin-bottom: 5px;
}
/***************************************************/
/********************SWITCH*************************/
/***************************************************/
.switch-group {
    display: flex;
    align-items: center;
}
.switch-group > span {
    margin-left: 5px;
    font-style: italic;
    font-size: 0.7rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 18px;
    margin-bottom: 0;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #385b72;
    transition: 0.4s
}
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: .4s
}
input:checked + .slider {
    background-color: #cccccc;
}
input:focus + .slider {
    box-shadow: 0 0 1px #cccccc;
}
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
/***************************************************/
/*********************CLASSES***********************/
/***************************************************/
.close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: #385b72;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}
.bold {
    font-weight: bold!important;
}
.opacity {
    opacity: 1!important;
}
.disabled {
    opacity: 0.6!important;
}
.none {
    display: none!important;
}
.hidden {
    visibility: hidden;
}
.btn {
    padding: 5px 12px;
    font-size: 0.6rem;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    border: 1px solid #385b72;
    background-color: #385b72;
    text-transform: uppercase;
    color: #ffffff;
}
.btn:hover {
    background-color: #ffffff;
    color: #385b72;
}
.btn:active {
    background-color: #000;
    color: #ffffff;
}
.message {
    padding: 10px;
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: bold;
}
.success {
    border: 1px solid #4e6c34;
    background-color: #4e6c34;
}
.error {
    border: 1px solid #bf0000;
    background-color: #bf0000;
}
.warning {
    border: 1px solid #ff7f00;
    background-color: #ff7f00;
}
.zone {
    background-color: rgba(243, 79, 31, 0.2);
}
.price {
    background-color: rgba(159, 73, 183, 0.6);
}
.text {
    background-color: rgba(73, 182, 117, 0.6);
}
.medias {
    background-color: rgba(14, 75, 239, 0.6);
}
.zone-selected {
    background-color: rgba(159, 73, 182, 0.6)!important;
}
.selected {
    border: 1px solid #9F49B6!important;
}
/***************************************************/
/**********************NAV**************************/
/***************************************************/
nav {
    width: 100%;
    top: 0;
    height: 50px;
    position: fixed;
    background-color: #385b72;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav > ul li {
    position: relative;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 0.9rem;
    border-right: 1px solid #ffffff;
    cursor: pointer;
    padding-left: 10px;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li i {
    color: #ffffff;
}
nav > ul > li p i {
    transform-origin: center;
    position: relative;
    right: -65px;
}
nav > ul > li:hover p i {
    transform: rotate(45deg);
}
nav > ul > li > p:after, nav > ul > li > ul > li:not(.disabled) > p:after, nav > ul > li > ul > li > ul > li > p:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    margin-bottom: -5px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: .5s;
}
nav > ul > li > ul > li > ul > li > p:after {
    background-color: #385b72;
}
nav > ul > li:hover > p:after, nav > ul > li > ul > li:hover:not(.disabled) > p:after, nav > ul > li > ul > li > ul > li:hover > p:after, nav > ul > li.active > p:after {
    transform: scaleX(1);
}
nav ul li p {
    font-size: 0.8rem;
    margin-left: 5px;
    color: #ffffff;
    font-style: italic;
    position: relative;
    cursor: pointer;
}
nav ul li.disabled p {
    cursor: default;
}
nav ul ul {
    background-color: #385b72;
    position: absolute;
    top: 120%;
    left: 0;
    visibility: hidden;
    transition: all .2s;
}
nav ul ul li span {
    margin-left: 5px; 
}
nav > ul > li:hover > ul, nav ul ul li:hover ul {
    visibility: visible;
}
nav ul ul li {
    width: 200px;
    justify-content: flex-start;
    font-weight: normal;
    border: none;
}
nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    visibility: hidden;
    background-color: #ffffff;
    border: 1px solid #385b72;
}
nav ul ul ul li p, nav ul ul ul li i {
    color: #385b72;
}
nav > div.identity {
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8rem;
    margin-right: 20px;
    text-align: right;
}
nav > div.identity span {
    font-weight: lighter;
    font-size: 0.7rem;
}
/*******************************************************/
/***********************TOOLBAR*************************/
/*******************************************************/
.toolbar {
    position: absolute;
    top: 20%;
    width: 170px;
}
.toolbar span {
    position: relative;
    margin-right: 20px;
    padding: 10px 0;
    display: inline-block;
}
.toolbar ul li {
    text-align: right;  
}
.toolbar .modal-toolbar > ul > li > span:after, .toolbar .tools > ul > li > span:after, .toolbar .tools > ul > li > ul > li > span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    margin-bottom: 7px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: .5s;
}
.toolbar .tools > ul > li > ul > li span:after {
    background-color: #385b72;
}
.toolbar .modal-toolbar > ul > li:hover > span:after, .toolbar .tools > ul > li:hover > span:after, .toolbar .tools > ul > li > ul > li:hover > span:after {
    transform: scaleX(1);
}
.toolbar i {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    width: 20px;
    margin-right: 3px;
}
.modal-toolbar, .tools {
    position: relative;
    left: -140px;
    background-color: #385b72;
    transition: 0.5s all;
    margin-bottom: 20px;
    border: 1px solid #385b72;
}
.modal-toolbar:hover, .tools:hover {
    left: 0;
}
.toolbar ul li {
    color: #ffffff;
    font-size: 0.8rem;
    cursor: pointer;
}
.toolbar ul ul {
    display: none;
    background-color: #ffffff;
}
.toolbar ul ul li:last-child {
    border-bottom: none;
}
.toolbar ul ul li, .toolbar ul ul li i {
    color: #385b72;
}
/*******************************************************/
/**************************MODAL************************/
/*******************************************************/
.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.8);
}
.popup {
    padding: 15px;
    position: relative;
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #385b72;
}
/****************************************************/
/***********************INFOS************************/
/****************************************************/
.infos {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #385b72;
    position: absolute;
    width: 17%;
    right: 5px;
    top: 60px;
}
.infos ul {
    margin-bottom: 15px;
}
.infos ul li {
    margin-bottom: 5px;
}
.infos ul li span {
    margin-bottom: 4px;
    color: #385b72;
    font-weight: bold;
    font-size: 0.8rem;
    font-style: italic;
    cursor: pointer;
    position: relative;
}
.infos ul li span:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    margin-bottom: -2px;
    background-color: #385b72;
    transform: scaleX(0);
    transition: .5s;
}
.infos ul li span:hover:before {
    transform: scaleX(1);
}
.infos div.container-input {
    display: flex;
    justify-content: space-between;
}
.infos .input-group {
    width: 45%;
}
.infos > div > div.input-group:nth-of-type(1) {
    width: 100%;
}
.infos > .close {
    color: #385b72;
}

.zoneResizer{
    height:5px;
    width:5px;
    position:absolute;
    background-color: transparent;
    border:1px solid black;
}
.remover-icon i{
    opacity :0.3;
    color:white;
}

.remover-icon i.active-icon{
    opacity :0.6;
}

#choice-background{
    display:none;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1000;
    background:rgba(0,0,0,0.7);
}
#choice-zone{
    text-align: center;
    margin-top:20%;
    width:100%;
}

.choice-window{
    background-color: white;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.choice-window__label{
    position:relative;
    background:#385b72;
    color:white;
    text-transform: uppercase;
    text-align: left;
}

.choice-window__label__close i{
    color : white;
}
.choice-window__label__close {
    position:   absolute;
    right:5px;
    top:50%;
    transform: translateY(-50%);
    padding:5px;
}

.choice-window__label p{
    display: inline-block;
    padding:15px;
}
.choice-window__content{
    text-align: center;
    padding:20px;
    display: flex;
    flex-direction: column;
}


.choice-window__content p{
    padding:10px;
    font-size:12px;
}
.choice-window__content button{
    padding:10px;
    margin: 1px;
}

.remover-tool-space{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/***************************************************/
/**********************ZONE*************************/
/***************************************************/

.container-zone{
    display:none;
}
.container-zone > div {
    position: absolute;
}

.active-tool{
    background:#369e89
}

.container-zone > div:first-child {
  /*  top: 50px;
    left: 100px;
    width: 700px;
    height: 600px;*/
}
.container-zone > div:last-child {
  /*  top: 10px;
    left: 900px;
    width: 200px;
    height: 400px;*/
}