<div id="zone-bg-assign__pick-bg" class="model__section">
    <h3>Choisissez un fond</h3>
    <div class="zone-bg-assign__pick_bg__pick-type " id="zone-bg-assign__pick_bg__pick-type--color">
        <div class="radios-group">
            <div class="checkbox">
                <input type="checkbox" name="activate-background-color" id="activate-background-color" value="color">
                <label for="activate-background-color"><h4>Appliquer une couleur de fond</h4></label>
            </div>
        </div>
        <div class="zone-bg-assign__pick_bg__content disabled-element">
            <div class="select-background__choice--content__wrapper wrapper">&nbsp;</div>
            <input type="color" name="background-color" value="#000000">
        </div>
    </div>
    <div class="zone-bg-assign__pick_bg__pick-type" id="zone-bg-assign__pick_bg__pick-type--img">
        <div class="radios-group">
            <div class="checkbox">
                <input type="checkbox" name="activate-background-image" id="activate-background-image" value="image">
                <label for="activate-background-image"><h4>Appliquer une image de fond</h4></label>
            </div>
        </div>
        <div class="zone-bg-assign__pick_bg__content disabled-element">
            <div class="zone-bg-assign__pick_bg__content--pick-type--img__list">
                <div class="zone-bg-assign__pick_bg__content--pick-type--img__list--item">
                    <img src="/build/backgrounds/fond_gris.png">
                    <span>Lorem ipsum dolor</span>
                </div>
                <div class="zone-bg-assign__pick_bg__content--pick-type--img__list--item">
                    <img src="/build/backgrounds/fond_gris.png">
                    <span>Lorem ipsum dolor</span>
                </div>
                <div class="zone-bg-assign__pick_bg__content--pick-type--img__list--item">
                    <img src="/build/backgrounds/fond_gris.png">
                    <span>Lorem ipsum dolor</span>
                </div>
            </div>
        </div>

    </div>
    <div class="button-group">
        <button class="btn comfirm">valider</button>
    </div>
</div>