<nav class="template__menu--top">
    <ul>
        <li><p>Fichier</p>
            <ul class="template-menu">
                <li title="Nouveau "><i class="fal fa-file"></i><p>Nouveau</p></li>
                <li title="Ouvrir"><i class="fal fa-folder-open"></i><p>Ouvrir</p></li>
                <li class ="save" title="Enregistrer"><i class="fal fa-save"></i><p>Enregistrer</p></li>
                <li title="Quitter"><i class="fal fa-sign-out-alt"></i><p>Quitter</p></li>
            </ul>
        </li>
        <li><p>Edition</p>
            <ul>
                <li data-modal="background"><i class="fal fa-image"></i><p>Arrière plan</p></li>
                <li data-modal="text"><i class="fal fa-text"></i><p>Texte</p></li>
                <li data-modal="price"><i class="fal fa-euro-sign"></i><p>Prix</p></li>
                <li data-modal="medias"><i class="fal fa-photo-video"></i><p>Médias</p></li>
            </ul>
        </li>
        <li><p>Outils</p>
            <ul>
                <li><i class="fal fa-plus-square"></i><p>Ajouter une zone</p></i>
                    <ul class="slider-menu">
                        <li title="Zone Texte"><i class="fal fa-text"></i><p>Zone texte</p></li>
                        <li title="Zone Prix"><i class="fal fa-euro-sign"></i><p>Zone prix</p></li>
                        <li title="Zone Media"><i class="fal fa-image"></i><p>Zone Médias</p></li>
                    </ul>
                </li>

                <li title="Déplacer"><i class="fal fa-arrows"></i><p>Déplacer</p></li>
                <li title="Supprimer"><i class="fal fa-trash-alt"></i><p>Supprimer</p></li>
                <li title="Dupliquer"><i class="fal fa-copy"></i><p>Dupliquer</p></li>
                <li title="Transformation" class="disabled"><i class="fal fa-vector-square"></i><p>Transformation manuelle</p></li>
                <li title="Arranger"><i class="fal fa-layer-group"></i><p>Organiser</p>
                    <ul class="slider-menu">
                        <li title="Avancer une zone"><i class="fal fa-layer-plus"></i><p>Avancer une Zone</p></li>
                        <li title="Reculer une zone"><i class="fal fa-layer-minus"></i><p>Reculer une zone</p></li>
                        <li title="Mettre au premier plan"><i class="fal fa-bring-front"></i><p>Mettre au premier plan</p></li>
                        <li title="Mettre au dernier plan"><i class="fal fa-send-back"></i><p>Mettre au dernier plan</p></li>
                    </ul>
                </li>
                <li title="Agrandir"><i class="fal fa-search-plus"></i><p>Agrandir</p></li>
                <li title="Diminuer"><i class="fal fa-search-minus"></i><p>Diminuer</p></li>
            </ul>
        </li>
    </ul>
    <div class="identity">
        <p>Ici le nom du template</p>
        <span>Ici la date de la derniére sauvegarde</span>
    </div>
</nav>