.container-zone{
    display:none;
}

.blindmode{
    background: transparent !important;
}
section {
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 200px;
    background-color: #ffffff;
}