
.zone[data-type=price],.price-preview, .zone-miniature[data-type=price]{
    background: rgba(240, 255, 0, 0.3);
    outline: 2px solid rgba(255, 215, 0, 0.6);
}

.zone[data-type=text],.text-preview, .zone-miniature[data-type=text]{
    background: rgba(44, 216, 44,0.3) ;
    outline: 2px solid rgba(73, 182, 117, 0.6);
}

.zone::before,.zone-miniature::before{
    content:'';
    position: absolute;
    top : 0;
    width:100%;
    height: 100%;
}

.zone.hidden-zone{
    outline:none !important;
    background-color: transparent !important;
}

.template-zone{
    position:absolute;
}

.zone,.zone-miniature{
    /*opacity: 0.3;*/
}
.zone[data-type=zone],.zone-preview::before, .zone-miniature[data-type=zone]{
    background-color: rgba(255, 17, 0,0.3);
    outline: 1px solid #ff0000
}

.zone[data-type=media], .media-preview, .zone-miniature[data-type=media]{
    background:rgba(10, 115, 255,0.3);
    outline: 2px solid rgba(14, 75, 239, 0.6)
}



.zone-content {
    text-align: center;
}
.zone-content img{
    max-height : 100%;

}
.zone{
    display:flex;
    position:absolute;
}

.zone-selected {
    background-color: rgba(159, 73, 182, 0.6)!important;
}
.selected {
    /*border: 1px solid #9F49B6!important;*/
    opacity:0.4;

}

span.zone-infos-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
