 <div class="zone-bg__assign__template-miniature model__section" >
        <h3>Choisissez vos zones</h3>
        <div class="zone-bg__assign__template-miniature__container" id="zone-bg__assign__template-miniature__container">
            <div data-id="container-zone"></div>
        </div>
        <p>Cliquez dans les zones ou vous souhaitez appliquer les modifications</p>
 </div>