 <div class="template-miniature">
        <h3>Choisissez vos zones</h3>
        <div class="template-miniature__container" id="miniature-container">
            <div data-id="container-zone"></div>
        </div>
        <p>Cliquez dans les zones ou vous souhaitez appliquer les modifications</p>
 </div>