.background-editor #list-background .media img {
    border: 1px solid #385b72;
}

.background-editor #list-background .media_list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 700px;
    overflow-y: auto;
}
.background-editor #list-background .media{
    margin-bottom: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    width: 31%;
}