.background-editor #list-background .media img {
    border: 1px solid #385b72;
}

.background-editor #list-background .media_list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 700px;
    overflow-y: auto;
}
.background-editor #list-background .media{
    margin-bottom: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    width: 31%;
}
.select-background__choice label{
    display: flex;
    align-items: center;
    color:#385b72;
    padding: 4px;
}

.select-background__choice {
    margin-bottom: 20px;
}

.select-background__choice--content__wrapper.wrapper{
    display:none;
}

.select-background__choice .radios-group{
    display: block;
    background: #f0f0f0;
    border : 1px solid #d6d6d6;
}
.select-background__choice--content{
    border: 1px solid #d6d6d6;
    padding: 10px;
}

